VITE_FIREBASE_API_KEY=AIzaSyBe4exW0UpJX4PvIU-HcH6GS0KcbA9Fbkk
VITE_FIREBASE_AUTH_DOMAIN=my-proxy-b15ee.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=my-proxy-b15ee
VITE_FIREBASE_STORAGE_BUCKET=my-proxy-b15ee.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=172311892979
VITE_FIREBASE_APP_ID=1:172311892979:web:4262bd72d3138274a33886
# # const firebaseConfig = {


#   apiKey: "AIzaSyBe4exW0UpJX4PvIU-HcH6GS0KcbA9Fbkk",

#   authDomain: "my-proxy-b15ee.firebaseapp.com",

#   projectId: "my-proxy-b15ee",

#   storageBucket: "my-proxy-b15ee.firebasestorage.app",

#   messagingSenderId: "172311892979",

#   appId: "1:172311892979:web:4262bd72d3138274a33886",

#   measurementId: "G-MLVJHQFZW5"

# # };